.wrapper {
  margin: auto;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;

  &_btn {
    Button {
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      img {
        margin-left: 6px;
      }
    }
    &_alarm {
      width: 100%;
      border: 1px solid #2b7ae8;
      color: #2b7ae8;
      font-weight: 700;
    }

    &_collapse {
      width: 98px;
      background-color: #f6f8fa;
      color: #212426;
      font-weight: 400;
    }
  }

  &_legend {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #212426;
    &_label {
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 4px;
      margin-right: 4px;
    }
  }

  .wrapperTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }

  .wrapperChart {
    display: flex;
    justify-content: center;
    height: 125px;
    margin: auto;
  }

  .title {
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #212426;
  }

  .wrapperButton {
    display: flex;
    .consolapseButton {
      cursor: pointer;
      position: relative;
      padding: 4px 8px 4px 12px;
      width: 98px;
      height: 29px;
      background: #f6f8fa;
      border-radius: 8px;
      > img {
        position: absolute;
        margin-left: 6px;
      }
    }
    .alarmButton {
      width: 115px;
      height: 29px;
      border: 1px solid #2b7ae8;
      border-radius: 8px;
      padding: 4px 12px;
      font-weight: 700;
      font-size: 14px;
      line-height: 130%;
      color: #2b7ae8;
      margin-left: 16px;
    }
  }

  .iconTooltip {
    color: #848484;
    font-size: 17px;
    cursor: pointer;
    display: flex;
  }
}

[class~='ant-tooltip-inner'] {
  font-size: 12px;
}
