
.container {
  background-color: #fff;
  // height: auto;
  // width: auto;
  // position: relative;

  padding: 16px;
  border-radius: 8px;
  // margin-bottom: 24px;
  .form {
    &_chart {
      [class~='ant-form-item'] {
        margin-bottom: 0;
      }

      &_left {
        justify-content: flex-end;
      }
      &_date {
        text-align: right;
        [class~='ant-radio-button-wrapper'] {
          padding-inline: 13px;
        }
      }

      &_collapse {

        @media (max-width: 1200px) {
          display: none;
        }
        Button {
          cursor: pointer;
          background: #f6f8fa;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          width: 98px;
          img {
            transition: all 0.2s ease;
            margin-left: 6px;
          }
        }
      }
    }
  }
}
.requireSelect{
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #F49586;
  // background-color: rgba(0, 181, 204,0.5);
}

@media (max-width: 1200px) {
  .form {
    &_chart {
      &_left {
        justify-content: center !important;
      }
      &_right {
        justify-content: center !important;
      }
      &_date {
        text-align: center !important;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    //  height: 1000px;
    //  width: 100px;
  }
}
@media (max-width: 576px) {
  .radioGroupType{
    margin-left: -7px !important;
    margin-right: -7px !important;
  }
}
