.wrapper {
  &_btn {
    &_more {
      color: #2b7ae8;
      cursor: pointer;
      text-align: center;
    }
  }
}
@media (max-width: 768px) {
  .wrapper {
    &_content {
      &_info {
        &_halfHeight {
          height: 300px !important;
          overflow: hidden;
        }
        &_fullHeight {
          height: auto;
        }
      }
    }
  }
}
