.wrapperTable {
  position: relative;
  padding: 12px 12px 0px;
  background: #ffffff;
  border-radius: 8px;
  .tableManagement {
    table {
      font-size: 12px;
    }
    tbody tr {
      cursor: pointer;
    }
    thead th {
      background-color: rgba(43, 122, 232, 0.1) !important;
      border-radius: 0 !important;
    }
    .tag {
      font-style: normal;
      font-weight: 500;
    }
    .column {
      width: 90%;
      .columnsText {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        [class~='ant-typography'] {
          margin-bottom: 0px !important;
        }
      }
    }
  }
}

[class~='ant-table-column-sorters'] {
  justify-content: unset !important;
}

[class~='ant-table-column-title'] {
  flex: unset !important;
}

.wrapOptionSearch {
  margin-right: 12px;
  [class~='ant-select-selection-placeholder'] {
    color: #000;
  }
}

[class~='ant-typography'] {
  font-size: 12px;
}

[class~='ant-pagination'] {
  font-size: 12px;
}

[class~='ant-table-thead'] {
  tr {
    th:first-child {
      border-end-start-radius: 8px !important;
      border-start-start-radius: 8px !important;
    }
    th:last-child {
      border-start-end-radius: 8px !important;
      border-end-end-radius: 8px !important;
    }
  } 
}