.wrapOptionSearch {
    margin-right: 12px;
    [class~='ant-select-selection-placeholder'] {
        color: #000;
   }
}
.wrapForm {
  margin-bottom: 24px;
  [class~='ant-form-item'] {
    margin: 0 !important;
  }
}

@media (max-width: 768px) {
  .wrapForm {
    margin-bottom: 0px;
  }
}

.btnMap {
    background-color: #EBEBF0;
}